@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.App {
  text-align: center;
  background: black;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  width: 400px;
}

/* NAVIGATION */
.navbar {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-around;
  width: 100%;
  transform: translateY(0px);
  transition: 0.25s;
  height: 120px;
}
.scrolled {
  background-color: rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  transition: 0.25s;
}
.navbar.logo {
  margin: auto 10px;
}
.bar {
  display: flex;
  margin: 0;
  justify-content: space-between;
}
.bar a {
  display: block;
  text-decoration: none;
  color: white;
  margin: auto 20px;
  font-size: larger;
  transition-duration: 0.5s;
}
.bar a:hover {
  color: #E8374D;
  transition-duration: 0.5s;
}
.navbar .facebook {
  margin: auto 10px;
}
.facebook img {
  width: 32px;
}
.sub-menu {
  padding: 8.5% 0;
  margin: 0;
}
.dropdown-menu {
  background: rgba(199, 199, 199, 0.85);
  display: grid;
  overflow: hidden;
  position: absolute;
  top: 0px;
  box-shadow: gray 2px 2px;
  transform: translate(5px, 120px);
  transition: .4s;
}
.collapse-menu {
  position: absolute;
  width: 107.42px;
  top: 40px;
  transform: translate(5px, 0px);
  transition: 0.4s ease-in-out;
}

.dropdown-menu a {
  color: black;
  font-size: smaller;
  text-align: left;
  padding: 10px 20px 10px 10px;
  margin: 0;
  transition-duration: 0.5s ease-in-out;
}
.dropdown-menu a:hover {
  background: rgb(155, 155, 155);
  transition-duration: 0.5s ease-in-out;
}
.staff-menu {
  background: rgba(199, 199, 199, 0.85);
  display: grid;
  overflow: hidden;
  position: absolute;
  top: 0px;
  box-shadow: gray 2px 2px;
  transform: translate(5px, 120px);
  transition: .4s;
}
.staff-menu .staff-link a {
  display: block;
  color: black;
  font-size: smaller;
  text-align: left;
  padding: 10px 20px 10px 10px;
  margin: 0;
  transition-duration: 0.5s ease-in-out;
}
.staff-link {
  display: block;
  text-align: left;
}
.staff-menu .staff-link a:hover {
  color: #E8374D;
  background: rgb(155, 155, 155);
  transition: 0.5s ease-in-out;
}

/* SPLASHPAGE */

.splashpage {
  background: black;
  color: white;
}

button {
  background: #E8374D;
  border: 1px solid rgba(0, 0, 0, 0.507);
  box-shadow: 1px solid black;
  font-size: 150%;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  padding: 10px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  transition-duration: 1s;
}
button:hover {
  background: black;
  transition-duration: 1s;
  cursor: pointer;
}

.image-page {
  background-image: url('./images/office.JPG');
  height: 62vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px black;
}

.image-text h2 {
  font-size: xxx-large;
  font-weight: 300;
  color: #E8374D;
  margin: 0;
}
.image-text h1 {
  font-size: 500%;
  font-weight: bolder;
  margin-top: 0;
}
.about {
  background-color: #335582;
  padding-bottom: 1px;
}
.about h3 {
  padding: 5% 10%;
  margin: auto;
  line-height: 2em;
  font-weight: lighter;
  font-size: 24px;
}
.link-page {
  margin: auto;
  width: 90%;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-shadow: 1px 1px black;
}
.hours {
  background: black;
  align-items: center;
  text-align: left;
  padding: 5%;
}
.hours h4 {
  color: #E8374D;
  margin: 0;
  font-size: 125%;
  font-weight: bolder;
  line-height: 1em;
}
.education {
  background-image: url('./images/education.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}
.pulse {
  background-image: url('./images//pulse.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}
.education a, .pulse a {
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
}
.education a:hover, .pulse a:hover {
  font-size: 1.5em;
  transition-duration: 0.3s;
}

/* COVID */
.covid {
  background: gray;
  padding: 5%;
}
covid-19 {
  font-size: larger;
  text-align: left;
}
.covid a {
  color: rgb(133, 203, 231);
  text-decoration: none;
}
.covid a:hover {
  color: rgb(235, 107, 122);
  transition-duration: 0.5s;
}
/* SERVICES */
.services {
  background: white;
  color: black;
  padding: 5%;
}

/* DIETING */
.dieting {
  padding: 5%;
}
.dieting p {
  text-align: left;
  margin: 20px 50px;
}
.diet-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.diet-box {
  box-sizing: border-box;
  background: #353535;
  display: block;
  align-items: center;
  min-width: 250px;
  margin: 5px;
  padding-bottom: 2%;
  overflow: hidden;
}
.diet-box hr {
  height: auto;
  width: 90%;
}
.diet-box a {
  text-decoration: none;
  color: white;
  transition-duration: 0.5s;
}
.diet-box a:hover {
  color: #E8374D;
  transition-duration: 0.5s;
}
.diet-image {
  overflow: hidden;
}
.diet-box img {
  width: 100%;
  transform: rotate(0deg) scale(1);
  transition: all 0.5s ease-out 0s;
}
.diet-box img:hover {
  transform: rotate(10deg) scale(1.5);
  transition: all 0.5s ease-out 0s;
}
.diet-box p {
  text-align: left;
  margin: 10px 30px;
}

/* SHAPE TAG */
.shape-tag {
  background: black;
  padding: 5%;
}
.shape-tag h1 {
  color: white;
}
.shape-tag p {
  color: white;
}
.exercise-nav {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
}
.exercise-box {
  box-sizing: border-box;
  background: #353535;
  display: block;
  align-items: center;
  min-width: 250px;
  margin: 5px;
  padding-bottom: 2%;
  overflow: hidden;
}
.exercise-box hr {
  height: auto;
  width: 90%;
}
.exercise-box a {
  text-decoration: none;
  color: white;
  transition-duration: 0.5s;
}
.exercise-box a:hover {
  color: #E8374D;
  transition-duration: 0.5s;
}
.exercise-image {
  overflow: hidden;
}
.exercise-box img {
  width: 100%;
  transform: rotate(0deg) scale(1);
  transition: all 0.5s ease-out 0s;
}
.exercise-box img:hover {
  transform: rotate(10deg) scale(1.5);
  transition: all 0.5s ease-out 0s;
}
.exercise-box p {
  text-align: left;
  margin: 10px 20px;
}
#ten-minute-workout {
  grid-column-start: 1;
  grid-column-end: 3;
}
#ten-minute-workout img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* ACTIVITIES */
.activities {
  margin-bottom: 5%;
}
.activities p {
  font-size: 90%;
}

.activity-list{
  display: flex;
  flex-wrap: wrap;
  margin: auto 1%;
}
.activities img {
  width: 100%;
}
.cardio, .strength, .forward, .diet {
  box-sizing: border-box;
  background: #353535;
  display: block;
  align-items: center;
  width: 24%;
  min-width: 250px;
  margin: 5px;
  padding-bottom: 2%;
}
.text-box {
  margin: auto 8%;
}
.text-box h1 {
  color: #E8374D;
}
.text-box .tag {
  text-align: center;
}
.text-box p {
  text-align: left;
}
hr {
  border-color: rgba(65, 65, 65, 0.24);
  height: 1%;
}
.text-box button {
  margin: 10px;
}

/* YOUR KEY TO HEALTH */
.health-key {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 5%;
}
.health-key h1, .health-key h2 {
  color: black;
}
.health-key h2 {
  text-align: left;
}
li h3 {
  color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: rgb(255, 86, 86);
  position: relative;
  top: 60px;
  left: -22px;
}
.health-key p {
  color: gray;
  text-align: left;
}
.left {
  margin: 1% 2%;
  width: 46%;
}
.right {
  margin: 1%;
  width: 48%;
}

/* CONTACT */

.contact {
  text-align: center;
  background: white;
  padding: 1%;
}
.contact-info {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.925);
  color: white;
  margin: 1%;
  padding: 1%;

}

/* FOOTER */
.footer {
  background: #E8374D;
  padding: 3%;
}
.list {
  display: flex;
  justify-content: space-between;
}
.list a {
  text-decoration: none;
  color: white;
  font-size: larger;
  transition: 0.5s ease-in-out;
}
.list a:hover {
  color: black;
  transition: 0.5s ease-in-out;
}

/* PROVIDER/EMPLOYEE DIRECTORY */
.staff, .single-staff {
  background: white;
  padding: 1%;
}
.provider-container {
  margin: auto;
}

.np-container {
  margin: auto;
  display: flex;
}
.np-container div {
  margin: 5px;
}
.staff img {
  width: 30%;
}
.np-container div img {
  width: 93%;
}
.cma-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cma-container div img {
  width: 93%;
}

.doctor-description {
  text-align: left;
}
.doctor-info, .nurse-info {
  text-align: left;
  display: flex;
  margin: auto 10px
}
.doctor-about, .nurse-about {
  width: 80%;
}
.staff a, .single-staff a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  transition-duration: 0.5s;
}
.staff a:hover, .single-staff a:hover {
  color: #E8374D;
  transition-duration: 0.5s;
}
.single-staff a {
  display: flex;
}


/* DIAGNOSTICS */
.diagnostics, .single-diagnostic {
  background: white;
  padding: 1%;
}
.diagnostic-data {
  text-align: left;
}
.full-list {
  display: flex;
}
.onsite-side {
  width: 50%;
}
.offsite-side {
  float: right;
}
.diagnostics-info {
  text-align: left;
  margin: auto 20px;
}
.diagnostics a, .single-diagnostic a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  transition-duration: 0.5s;
}
.diagnostics a:hover, .single-diagnostic a:hover {
  color: #E8374D;
  transition-duration: 0.5s;
}
.single-diagnostic h2 a {
  font-weight: 600;
}
.single-diagnostic {
  display: flex;
}
.diagnostic-main {
  width: 68%;
  margin: 0 5px 0 30px;
}
.onsite-list h3 {
  font-weight: 400;
}
.diagnostic-body {
  text-align: left;
}
.diagnostic-side {
  margin: 0 10px;
  width: 32%;
}
/* .diagnostic-side h2 {
  margin-left: 20px;
} */
.diagnostic-map {
  text-align: left;
}
.single-diagnostic button {
  background-color: white;
  border: none;
  border-radius: 12px;
  color: black;
  box-shadow: none;
  font-size: 100%;
  font-weight: normal;
  text-shadow: none;
  transition-duration: 0.5s;
}
.single-diagnostic button:hover {
  background-color: #E8374D;
  color: white;
  transition-duration: 0.5s;
}

/* CONDITIONS */
.conditions, .single-condition, .condition-subpage {
  background: white;
  padding: 1%;
}
.conditions a, .single-condition a, .condition-subpage a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  transition-duration: 0.5s;
}
.conditions a:hover, .single-condition a:hover, .condition-subpage a:hover {
  color: #E8374D;
  transition-duration: 0.5s;
}
.read-more {
  padding: 10px;
  border-radius: 12px;
  color: black;
}
.read-more:hover {
  background: black;
  color: white;
}
.conditions button, .single-condition button, .condition-subpage button {
  background-color: white;
  border: none;
  border-radius: 12px;
  color: black;
  box-shadow: none;
  font-size: 100%;
  font-weight: normal;
  text-shadow: none;
  transition-duration: 0.5s;
}
.conditions button:hover, .single-condition button:hover, .condition-subpage button:hover {
  background-color: #E8374D;
  color: white;
  transition-duration: 0.5s;
}
.single-condition {
  display: flex;
}
.condition-container, .symptom-container, .arrhythmia-container, .block-container, .myopathy-container {
  text-align: left;
  margin: 0 20px;
}
.arrhythmia-container h1, .block-container h1, .condition-container h1, .myopathy-container h1, .symptom-container h1 {
  text-align: center;
}
.condition-left, .arrhythmia-left, .heartblock-left, .symptom-left {
  width: 70%;
  margin: 0 30px;
}
.condition-left p, .arrhythmia-left p, .heartblock-left p, .symptom-left p {
  text-align: left;
}
.condition-right {
  margin: 0 10px;
  width: 27%;
}
.condition-right h2 {
  text-align: center;
}
.condition-description h3 {
  text-align: left;
}
.side-container div {
  text-align: left;
  padding-left: 20px;
}
.side-container div div {
  text-align: left;
  border-left: none;
  padding-left: 0px;
}

/* CONDITTION SUBPAGES */
.condition-subpage {
  display: flex;
}
.condition-subpage .condition-left h2, .condition-subpage .condition-left h3 {
  text-align: left;
}

/* HEALTH */
.health, .single-health, .health-subpage {
  background: white;
  padding: 1%;
}
.health-subpage {
  display: flex;;
}
.health-data {
  text-align: left;
}
.health-container {
  display: flex;
  margin: 0 10px;
}
.diet-list, .exercise-list {
  width: 50%;
  margin: 0 10px;
}
.diet-list div {
  text-align: left;
}
.exercise-list div {
  text-align: left;
}
.single-health {
  display: flex;
}
.health-info {
  width: 100%;
}
.health-diet, .health-exercise {
  text-align: left;
  margin: 0 10px;
}
.health-side {
  margin: 0 10px;
  width: 20%;
}
.foods {
  display: flex;
}
.good-food {
  width: 50%;
  margin-right: 20px;
}
.bad-food {
  width: 50%;
  margin-left: 20px;
}
.diet-map h3, .exercise-map h3 {
  text-align: left;
}

.single-health button, .health-subpage button {
  background-color: white;
  border: none;
  border-radius: 12px;
  color: black;
  box-shadow: none;
  font-size: 100%;
  font-weight: normal;
  text-shadow: none;
  transition-duration: 0.5s;
}
.single-health button:hover, .health-subpage button:hover {
  background-color: #E8374D;
  color: white;
  transition-duration: 0.5s;
}
.health a, .single-health a, .health-subpage a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  transition-duration: 0.5s;
}
.health a:hover, .single-health a:hover, .health-subpage a:hover {
  color: #E8374D;
  transition-duration: 0.5s;
}

@media screen and (max-width: 900px) {
  /* NAVBAR */
  .logo img {
    display: none;
  }
  .footer {
    display: block;
    font-size: 50%;
  }
  .navbar {
    padding: 0;
    width: 100%;
    height: 75px;
  }
  .navbar .logo {
    margin: 0;
  }
  .bar {
    margin: auto 0;
  }
  .bar a {
    margin: auto 20px;
    font-size: 24px;
  }
  .sub-menu {
    padding: 0;
  }
  .staff-menu, .dropdown-menu {
    transform: translate(5px, 75px);
  }
  .navbar .facebook {
    margin: auto 5px;
  }
  /* DIETING */
  .diet-nav {
    display: block;
    margin: 10px;
  }
  .diet-box {
    margin: 10px auto;
  }

  /* SHAPE TAG */
  .exercise-nav {
    display: block;
    margin: 10px;
  }
  .exercise-box {
    margin: 10px auto;
  }
  #ten-minute-workout img {
    width: 100%;
    height: 100%;
  }
  /* HEALTH KEY */
  .health-key {
    display: block;
  }
  .left, .right {
    width: auto;
  }
  .right ul {
    padding: 0;
    margin: 10px;
  }

  /* STAFF */
  .doctor-info, .nurse-info {
    text-align: left;
    display: flex;
    margin: auto 10px;
  }
  .doctor-about, .nurse-about {
    width: auto;
  }
  .doctor-description {
    margin: auto 10px;
  }
  .doctor-image, .nurse-image {
    margin: 16px auto;
  }
  .doctor-image img, .nurse-image img {
    width: 300px;
  }

  /* DIAGNOSTICS */
  .full-list {
    display: block;
  }
  .onsite-side {
    width: 100%;
  }
  .offsite-side {
    float: none;
  }
  .condition-subpage .diagnostic-side {
    width: 100%;
    margin: auto;
  }
  .full-list {
    display: block;
  }
  .single-diagnostic {
    display: block;
  }
  .diagnostic-main {
    width: auto;
    margin: auto 20px;
  }
  .diagnostic-side h2 {
    margin-left: 0px;
  }

  /* CONDITIONS */
  .single-condition, .condition-subpage {
    display: block;
  }
  .condition-left {
    width: auto;
    margin: auto 20px;
  }
  .condition-right {
    width: auto;
  }
  /* HEALTH */
  .health-container {
    display: block;
  }
  .diet-list, .exercise-list {
    width: auto;
  }
  .single-health {
    display: block;
  }
  .foods {
    display: block;
  }
  .good-food, .bad-food {
    width: auto;
    margin: auto;
  }
  .health-subpage {
    display: block;
  }
  .health-info {
    width: 100%;
  }
  .health-data {
    margin: auto 10px;
  }
  .health-side {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 760px) {
  .image-page {
    height: 28vh;
  }
  .image-text {
    height: 85%;
  }
  .image-text h2, .image-text h1 {
    font-size: medium;
  }
  .image-text button {
    font-size: 50%;
  }
  .image-text a {
    position: absolute;
    top: 35%;
    left: 35%;
  }
  .about h3 {
    font-size: 75%;
  }
  .covid h1 {
    font-size: 150%;
  }
  covid-19 {
    font-size: smaller;
  }
  .bar a {
    margin: auto 5px;
    font-size: 12px;
  }
  .provider-container img {
    width: 90%;
  }
  .np-container {
    display: block;
  }
  .cma-container {
    display: block;
  }
  .doctor-info, .nurse-info {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    margin: auto 10px;
  }
  .doctor-image {
    text-align: center;
  }
  .doctor-image img, .nurse-image img {
    width: 200px;
  }
}