.contact {
    text-align: center;
    background: rgb(191, 67, 67);
    padding: 2% 5%;
    color: white;
  }
  .contact h1 {
    text-align: center;
  }
  .contact-info {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    margin: 1%;
    padding: 1%;
  }
  
  .contact-info h4 {
    margin: auto;
  }
  
  .operation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 900px) {
  .contact h1 {
    text-align: center;
  }
    .contact-info {
      display: block;
    }
    .operation {
      display: block;
    }
}